<div fxLayout="column" fxLayoutAlign="center" *ngIf="consultaExitosa">

    <form [formGroup]="tiendaForm" style="margin-top:10px" autocomplete="off">

        <div fxLayoutAlign="center" style="margin-bottom:20px">

            <div fxFlex="10%" fxLayoutAlign="center">
                <input #file type='file' (change)="onSelectFile($event)" accept="image/*" style="display:none">
                <button type="button" mat-raised-button (click)="file.click()" color="primary">
                    <mat-icon>add_a_photo</mat-icon>
                </button>
            </div>

            <div fxFlex="10%" fxLayoutAlign="center" *ngIf="imageBase64">
                <button type="button" mat-raised-button color="accent" (click)="limpiarArchivo()">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>

        <div class="image-cointaner" fxLayoutAlign="center" *ngIf="imageBase64">
            <img [src]="transform()" />
        </div>

        <div fxLayoutAlign="center">
            <mat-form-field style="width:90%" appearance="fill">
                <mat-label>Nombre Tienda</mat-label>
                <input formControlName="nombre" matInput autocomplete="off" maxlength="150">
                <mat-error *ngIf="f.nombre.errors?.required">Nombre es un campo requerido"</mat-error>
            </mat-form-field>
        </div>
        <div fxLayoutAlign="center" style="margin-top:10px">
            <mat-form-field style="width:90%" appearance="fill">
                <mat-label>Descripción</mat-label>
                <textarea formControlName="descripcion" matInput autocomplete="off" matTextareaAutosize
                    matAutosizeMinRows="3" matAutosizeMaxRows="10" maxlength="500"></textarea>
                <mat-error *ngIf="f.descripcion.errors?.required">Descripción es un campo requerido"</mat-error>
            </mat-form-field>
        </div>

        <div fxLayoutAlign="center" style="margin-top:10px">
            <mat-form-field style="width:80%">
                <mat-label>Dirección</mat-label>
                <input formControlName="direccion" matInput autocomplete="off" autocorrect="off" autocapitalize="off"
                    spellcheck="off" type="text" (keydown.enter)="$event.preventDefault()" maxlength="100">
                <mat-error *ngIf="f.direccion.errors?.required">Ingrese una dirección válida"</mat-error>
            </mat-form-field>
            <button mat-button type="button" (click)="showLocation()">
                <mat-icon>add_location_alt</mat-icon>
            </button>
        </div>
        
        <div fxLayoutAlign="center" style="margin-top:10px">
            <agm-map fxLayoutAlign="center" style="width:95%" [latitude]="location?.lat" [longitude]="location?.lng"
                [zoom]="18" [disableDefaultUI]="false" [zoomControl]="false">
                <agm-marker [latitude]="location?.lat" [longitude]="location?.lng">
                </agm-marker>
            </agm-map>
        </div>

        <div fxLayoutAlign="center" style="margin-top:10px">
            <mat-form-field style="width:90%" appearance="fill">
                <mat-label>Primer Teléfono</mat-label>
                <input formControlName="telefono1" matInput autocomplete="off" maxlength="15">
                <mat-error *ngIf="f.telefono1.errors?.required">Primer Teléfono es un campo requerido"</mat-error>
            </mat-form-field>
        </div>
        <div fxLayoutAlign="center" style="margin-top:10px">
            <mat-form-field style="width:90%" appearance="fill">
                <mat-label>Segundo Teléfono</mat-label>
                <input formControlName="telefono2" matInput autocomplete="off" maxlength="15">
            </mat-form-field>
        </div>

        <div fxLayoutAlign="center" style="margin-top:10px">
            <div fxFlex="45%">
                <mat-form-field style="width:90%" appearance="fill">
                    <mat-label>Departamento</mat-label>
                    <input matInput autocomplete="chrome-off" formControlName="departamento" [matAutocomplete]="autoDepartamento">
                    <mat-autocomplete (optionSelected)="selectDepartamento($event)" [displayWith]="getOptionText"
                        #autoDepartamento="matAutocomplete">
                        <mat-option *ngFor="let option of filterDepartamentos | async" [value]="option">
                            {{option.nombre}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="f.departamento.errors?.required">Departamento es un campo requerido"</mat-error>
                    <mat-error *ngIf="f.departamento.errors?.incorrect">Seleccione una opción válida</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="45%">
                <mat-form-field style="width:100%" appearance="fill">
                    <mat-label>Ciudad</mat-label>
                    <input matInput autocomplete="chrome-off" formControlName="ciudad" [matAutocomplete]="autoCiudad">
                    <mat-autocomplete (optionSelected)="selectCiudad($event)" [displayWith]="getOptionText"
                        #autoCiudad="matAutocomplete">
                        <mat-option *ngFor="let option of filterCiudades | async" [value]="option">
                            {{option.nombre}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="f.ciudad.errors?.required">Ciudad es un campo requerido"</mat-error>
                    <mat-error *ngIf="f.ciudad.errors?.incorrect">Seleccione una opción válida</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div fxLayoutAlign="center" style="margin-top:20px">
            <button style="width:90%" mat-raised-button (click)="onSubmit()" color="primary">Guardar</button>
        </div>
    </form>
</div>