<app-header-principal></app-header-principal>

<div class="container-main" *ngIf="consultaExitosa">

    <div fxLayout="row">
        <h2>Lista de tarifas por fletes</h2>
    </div>

    <div fxLayout="row" [style.margin-top]="'10px'">
        <p>Ayuda: Puede guiarse del costo de flete con la calculadora en línea del ministerio de transporte: (T = GF + GV(D)) 
            <a href="https://plc.mintransporte.gov.co/Runtime/empresa/ctl/SiceTAC/mid/417" target="_blank"> abrir calculadora</a>
        </p>
    </div>

    <div fxLayout="row">

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- tarifa Column -->
            <ng-container matColumnDef="tarifa">
                <th mat-header-cell *matHeaderCellDef> Tarifa.</th>
                <td mat-cell *matCellDef="let element"> {{element.tarifa | currency}} </td>
            </ng-container>

            <!-- rangoInicial Column -->
            <ng-container matColumnDef="rangoInicial">
                <th mat-header-cell *matHeaderCellDef> Desde (km)</th>
                <td mat-cell *matCellDef="let element"> {{element.rangoInicial}} </td>
            </ng-container>

            <!-- rangoFinal Column -->
            <ng-container matColumnDef="rangoFinal">
                <th mat-header-cell *matHeaderCellDef> Hasta (km)</th>
                <td mat-cell *matCellDef="let element"> {{element.rangoFinal}} </td>
            </ng-container>

            <!-- acciones Column -->
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> Acciones</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button (click)="openDialogEditar(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr *matRowDef="let row; columns: displayedColumns;" mat-row
                [ngClass]="{'highlight': select?.rangoInicial === row.rangoInicial}">

                <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="8">No tiene tarifas configuradas hasta el momento</td>
            </tr>

        </table>

    </div>

    <div fxLayout="row" [style.margin-top]="'10px'">
        <p>Nota: Debe dilegenciar todas las tarifas. Si decide no cobrar en un rango de KMs, debe asignarle una tarifa con el valor de cero ($0)
        </p>
    </div>

    <div fxLayout="row" [style.margin-top]="'10px'">
        <button mat-raised-button color="primary" (click)="guadarTarifas()">Guardar tarifas</button>
    </div>


</div>