<app-header></app-header>
<div class="example-container">

  <div class="width-100">
    <h1>Reenvio de contraseña</h1>
  </div>

  <br />

  <form [formGroup]="resetForm" class="example-form" autocomplete="off">

    <mat-form-field appearance="fill" class="width-100">
      <mat-label>Correo electrónico</mat-label>
      <input matInput placeholder="Correo" formControlName="correo">
      <mat-error *ngIf="f.correo.errors?.required">Correo es un campo requerido"</mat-error>
      <mat-error *ngIf="f.correo.errors?.email">Correo Electrónico inválido"</mat-error>
    </mat-form-field>

    <br /><br />

    <button mat-raised-button class="width-100" (click)="onSubmit()" color="primary">Recordar contraseña</button>

  </form>
</div>