.example-container {
  padding-top: 3vh;
  padding-bottom: 8vh;
  margin: auto;
  width: 60%;
}

.image-cointaner {
  margin-bottom: 20px;
}

img {
  border: 0.5em;
  border-radius: 2em;
  max-height: 30vh;
}

.ml-2 {
  margin-left: 2%;
}

.width-25 {
  width: 24%;
}

.width-50 {
  width: 49%;
}

.width-75 {
  width: 74%;
}

.width-100 {
  width: 100%;
}
