.example-container{
  padding-top: 8vh;
  padding-bottom: 8vh;
  margin: auto;
  width: 40%;
}

.width-50 {
  width: 49%;
}
.ml-1 {
  margin-left: 1%;
}
.ml-2 {
  margin-left: 2%;
}
.width-100 {
  width: 100%;
}
.width-100-r {
  text-align: right;
  width: 100%;
}
.width-25 {
  width: 25%;
}
